{{page-title 'Album example'}}

<header>
  <BsCollapse
    class='bg-dark'
    id='navbarHeader'
    @collapsed={{this.navbarHeaderCollapsed}}
  >
    <div class='container'>
      <div class='row'>
        <div class='col-sm-8 col-md-7 py-4'>
          <h4 class='text-white'>About</h4>
          <p class='text-muted'>Add some information about the album below, the
            author, or any other background context. Make it a few sentences
            long so folks can pick up some informative tidbits. Then, link them
            off to some social networking sites or contact information.</p>
        </div>
        <div class='col-sm-4 offset-md-1 py-4'>
          <h4 class='text-white'>Contact</h4>
          <ul class='list-unstyled'>
            <li><a href='#' class='text-white'>Follow on Twitter</a></li>
            <li><a href='#' class='text-white'>Like on Facebook</a></li>
            <li><a href='#' class='text-white'>Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </BsCollapse>

  <BsNavbar @backgroundColor='dark' @type='dark' class='shadow-sm' as |navbar|>
    <div class='container d-flex justify-content-between'>
      <a href='#' class='navbar-brand d-flex align-items-center'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='20'
          height='20'
          fill='none'
          stroke='currentColor'
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='2'
          aria-hidden='true'
          class='mr-2'
          viewBox='0 0 24 24'
          focusable='false'
        ><path
            d='M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z'
          ></path><circle cx='12' cy='13' r='4'></circle></svg>
        <strong>Album</strong>
      </a>
      <div class='navbar-header'>
        <navbar.toggle @onClick={{this.toggle}} />
      </div>
    </div>
  </BsNavbar>
</header>

<main>
  <section class='jumbotron text-center'>
    <div class='container'>
      <h1>Album example</h1>
      <p class='lead text-muted'>Something short and leading about the
        collection below—its contents, the creator, etc. Make it short and
        sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <a href='#' class='btn btn-primary my-2'>Main call to action</a>
        <a href='#' class='btn btn-secondary my-2'>Secondary action</a>
      </p>
    </div>
  </section>

  <div class='album py-5 bg-light'>
    <div class='container'>

      <div class='row'>
        <div class='col-md-4'>
          <div class='card mb-4 shadow-sm'>
            <svg
              class='bd-placeholder-img card-img-top'
              width='100%'
              height='225'
              xmlns='http://www.w3.org/2000/svg'
              role='img'
              aria-label='Placeholder: Thumbnail'
              preserveAspectRatio='xMidYMid slice'
              focusable='false'
            ><title>Placeholder</title><rect
                width='100%'
                height='100%'
                fill='#55595c'
              ></rect><text
                x='50%'
                y='50%'
                fill='#eceeef'
                dy='.3em'
              >Thumbnail</text></svg>
            <div class='card-body'>
              <p class='card-text'>This is a wider card with supporting text
                below as a natural lead-in to additional content. This content
                is a little bit longer.</p>
              <div class='d-flex justify-content-between align-items-center'>
                <div class='btn-group'>
                  <button
                    type='button'
                    class='btn btn-sm btn-outline-secondary'
                  >View</button>
                  <button
                    type='button'
                    class='btn btn-sm btn-outline-secondary'
                  >Edit</button>
                </div>
                <small class='text-muted'>9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='card mb-4 shadow-sm'>
            <svg
              class='bd-placeholder-img card-img-top'
              width='100%'
              height='225'
              xmlns='http://www.w3.org/2000/svg'
              role='img'
              aria-label='Placeholder: Thumbnail'
              preserveAspectRatio='xMidYMid slice'
              focusable='false'
            ><title>Placeholder</title><rect
                width='100%'
                height='100%'
                fill='#55595c'
              ></rect><text
                x='50%'
                y='50%'
                fill='#eceeef'
                dy='.3em'
              >Thumbnail</text></svg>
            <div class='card-body'>
              <p class='card-text'>This is a wider card with supporting text
                below as a natural lead-in to additional content. This content
                is a little bit longer.</p>
              <div class='d-flex justify-content-between align-items-center'>
                <div class='btn-group'>
                  <button
                    type='button'
                    class='btn btn-sm btn-outline-secondary'
                  >View</button>
                  <button
                    type='button'
                    class='btn btn-sm btn-outline-secondary'
                  >Edit</button>
                </div>
                <small class='text-muted'>9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='card mb-4 shadow-sm'>
            <svg
              class='bd-placeholder-img card-img-top'
              width='100%'
              height='225'
              xmlns='http://www.w3.org/2000/svg'
              role='img'
              aria-label='Placeholder: Thumbnail'
              preserveAspectRatio='xMidYMid slice'
              focusable='false'
            ><title>Placeholder</title><rect
                width='100%'
                height='100%'
                fill='#55595c'
              ></rect><text
                x='50%'
                y='50%'
                fill='#eceeef'
                dy='.3em'
              >Thumbnail</text></svg>
            <div class='card-body'>
              <p class='card-text'>This is a wider card with supporting text
                below as a natural lead-in to additional content. This content
                is a little bit longer.</p>
              <div class='d-flex justify-content-between align-items-center'>
                <div class='btn-group'>
                  <button
                    type='button'
                    class='btn btn-sm btn-outline-secondary'
                  >View</button>
                  <button
                    type='button'
                    class='btn btn-sm btn-outline-secondary'
                  >Edit</button>
                </div>
                <small class='text-muted'>9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class='col-md-4'>
          <div class='card mb-4 shadow-sm'>
            <svg
              class='bd-placeholder-img card-img-top'
              width='100%'
              height='225'
              xmlns='http://www.w3.org/2000/svg'
              role='img'
              aria-label='Placeholder: Thumbnail'
              preserveAspectRatio='xMidYMid slice'
              focusable='false'
            ><title>Placeholder</title><rect
                width='100%'
                height='100%'
                fill='#55595c'
              ></rect><text
                x='50%'
                y='50%'
                fill='#eceeef'
                dy='.3em'
              >Thumbnail</text></svg>
            <div class='card-body'>
              <p class='card-text'>This is a wider card with supporting text
                below as a natural lead-in to additional content. This content
                is a little bit longer.</p>
              <div class='d-flex justify-content-between align-items-center'>
                <div class='btn-group'>
                  <button
                    type='button'
                    class='btn btn-sm btn-outline-secondary'
                  >View</button>
                  <button
                    type='button'
                    class='btn btn-sm btn-outline-secondary'
                  >Edit</button>
                </div>
                <small class='text-muted'>9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='card mb-4 shadow-sm'>
            <svg
              class='bd-placeholder-img card-img-top'
              width='100%'
              height='225'
              xmlns='http://www.w3.org/2000/svg'
              role='img'
              aria-label='Placeholder: Thumbnail'
              preserveAspectRatio='xMidYMid slice'
              focusable='false'
            ><title>Placeholder</title><rect
                width='100%'
                height='100%'
                fill='#55595c'
              ></rect><text
                x='50%'
                y='50%'
                fill='#eceeef'
                dy='.3em'
              >Thumbnail</text></svg>
            <div class='card-body'>
              <p class='card-text'>This is a wider card with supporting text
                below as a natural lead-in to additional content. This content
                is a little bit longer.</p>
              <div class='d-flex justify-content-between align-items-center'>
                <div class='btn-group'>
                  <button
                    type='button'
                    class='btn btn-sm btn-outline-secondary'
                  >View</button>
                  <button
                    type='button'
                    class='btn btn-sm btn-outline-secondary'
                  >Edit</button>
                </div>
                <small class='text-muted'>9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='card mb-4 shadow-sm'>
            <svg
              class='bd-placeholder-img card-img-top'
              width='100%'
              height='225'
              xmlns='http://www.w3.org/2000/svg'
              role='img'
              aria-label='Placeholder: Thumbnail'
              preserveAspectRatio='xMidYMid slice'
              focusable='false'
            ><title>Placeholder</title><rect
                width='100%'
                height='100%'
                fill='#55595c'
              ></rect><text
                x='50%'
                y='50%'
                fill='#eceeef'
                dy='.3em'
              >Thumbnail</text></svg>
            <div class='card-body'>
              <p class='card-text'>This is a wider card with supporting text
                below as a natural lead-in to additional content. This content
                is a little bit longer.</p>
              <div class='d-flex justify-content-between align-items-center'>
                <div class='btn-group'>
                  <button
                    type='button'
                    class='btn btn-sm btn-outline-secondary'
                  >View</button>
                  <button
                    type='button'
                    class='btn btn-sm btn-outline-secondary'
                  >Edit</button>
                </div>
                <small class='text-muted'>9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class='col-md-4'>
          <div class='card mb-4 shadow-sm'>
            <svg
              class='bd-placeholder-img card-img-top'
              width='100%'
              height='225'
              xmlns='http://www.w3.org/2000/svg'
              role='img'
              aria-label='Placeholder: Thumbnail'
              preserveAspectRatio='xMidYMid slice'
              focusable='false'
            ><title>Placeholder</title><rect
                width='100%'
                height='100%'
                fill='#55595c'
              ></rect><text
                x='50%'
                y='50%'
                fill='#eceeef'
                dy='.3em'
              >Thumbnail</text></svg>
            <div class='card-body'>
              <p class='card-text'>This is a wider card with supporting text
                below as a natural lead-in to additional content. This content
                is a little bit longer.</p>
              <div class='d-flex justify-content-between align-items-center'>
                <div class='btn-group'>
                  <button
                    type='button'
                    class='btn btn-sm btn-outline-secondary'
                  >View</button>
                  <button
                    type='button'
                    class='btn btn-sm btn-outline-secondary'
                  >Edit</button>
                </div>
                <small class='text-muted'>9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class='col-md-4'>
          <div class='card mb-4 shadow-sm'>
            <svg
              class='bd-placeholder-img card-img-top'
              width='100%'
              height='225'
              xmlns='http://www.w3.org/2000/svg'
              role='img'
              aria-label='Placeholder: Thumbnail'
              preserveAspectRatio='xMidYMid slice'
              focusable='false'
            ><title>Placeholder</title><rect
                width='100%'
                height='100%'
                fill='#55595c'
              ></rect><text
                x='50%'
                y='50%'
                fill='#eceeef'
                dy='.3em'
              >Thumbnail</text></svg>
            <div class='card-body'>
              <p class='card-text'>This is a wider card with supporting text
                below as a natural lead-in to additional content. This content
                is a little bit longer.</p>
              <div class='d-flex justify-content-between align-items-center'>
                <div class='btn-group'>
                  <button
                    type='button'
                    class='btn btn-sm btn-outline-secondary'
                  >View</button>
                  <button
                    type='button'
                    class='btn btn-sm btn-outline-secondary'
                  >Edit</button>
                </div>
                <small class='text-muted'>9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class='col-md-4'>
          <div class='card mb-4 shadow-sm'>
            <svg
              class='bd-placeholder-img card-img-top'
              width='100%'
              height='225'
              xmlns='http://www.w3.org/2000/svg'
              role='img'
              aria-label='Placeholder: Thumbnail'
              preserveAspectRatio='xMidYMid slice'
              focusable='false'
            ><title>Placeholder</title><rect
                width='100%'
                height='100%'
                fill='#55595c'
              ></rect><text
                x='50%'
                y='50%'
                fill='#eceeef'
                dy='.3em'
              >Thumbnail</text></svg>
            <div class='card-body'>
              <p class='card-text'>This is a wider card with supporting text
                below as a natural lead-in to additional content. This content
                is a little bit longer.</p>
              <div class='d-flex justify-content-between align-items-center'>
                <div class='btn-group'>
                  <button
                    type='button'
                    class='btn btn-sm btn-outline-secondary'
                  >View</button>
                  <button
                    type='button'
                    class='btn btn-sm btn-outline-secondary'
                  >Edit</button>
                </div>
                <small class='text-muted'>9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<footer class='text-muted'>
  <div class='container'>
    <p class='float-right'>
      <a href='#'>Back to top</a>
    </p>
    <p>Album example is &copy; Bootstrap, but please download and customize it
      for yourself!</p>
    <p>New to Bootstrap?
      <a href='/'>Visit the homepage</a>
      or read our
      <a href='/getting-started/introduction'>getting started guide</a>.</p>
  </div>
</footer>